<% content_for :title do %>
Articles
<% end %>

<% content_for :page_title do %>
Articles
<% end %>

<% content_for :breadcrumb do -%>
  <ul class="uk-breadcrumb">
    <li><%= link_to 'TOP', '/' %></li>
    <li>
      
      <%= link_to 'Articles', admin_articles_path %>
      
    </li>
  </ul>
<% end %>

<div class="uk-align-right">

<%= link_to 'New Article', new_admin_article_path, class: 'uk-button uk-button-small uk-button-primary' %>

</div>

<table class="uk-table uk-table-divider uk-table-small uk-text-small">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        
        <td><%= link_to 'Show', admin_article_path(article) %></td>
        <td><%= link_to 'Edit', edit_admin_article_path(article) %></td>
        <td><%= link_to 'Destroy', admin_article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
