<% if controller_class_path.size > 0 %>
<%%= form_with(model: [<%= controller_class_path.map{ |n| ":#{n}" }.join(',') %>, <%= singular_table_name %>], local: true, class: 'uk-form-horizontal') do |form| %>
<% else %>
<%%= form_with(model: <%= singular_table_name %>, local: true, class: 'uk-form-horizontal') do |form| %>
<% end %>

<% attributes.each do |attribute| -%>
<% if attribute.password_digest? -%>
<div class="uk-margin">
  <%%= form.label :password -%>
  <div class: 'uk-form-controls uk-form-controls-text'>
  <%%= form.password_field :password -%> %>
  </div>
</div>

<div class="uk-margin">
  <%%= form.label :password_confirmation, class: 'uk-form-label' -%>
  <div class="uk-form-controls uk-form-controls-text">
  <%%= form.password_field :password_confirmation %>, class: 'uk-input' %>
  </div>
</div>
<% else -%>
<div class="uk-margin">
  <%%= form.label :<%= attribute.column_name -%>, class: 'uk-form-label' %>
  <div class="uk-form-controls">
<% if attribute.type == :text -%>
  <%%= form.<%= attribute.field_type %> :<%= attribute.column_name %>, class: 'uk-textarea uk-form-width-large' %>
<% elsif attribute.type == :boolean -%>
  <%%= form.<%= attribute.field_type %> :<%= attribute.column_name %>, class: 'uk-checkbox uk-form-width-medium' %>
<% elsif attribute.type == :date -%>
  <%%= form.<%= attribute.field_type %> :<%= attribute.column_name %>, {}, { class: 'uk-select uk-form-width-small' } %>
<% else -%>
  <%%= form.<%= attribute.field_type %> :<%= attribute.column_name %>, class: 'uk-input uk-form-width-large' %>
<% end -%>
  </div>
</div>
<% end -%>
<% end -%>

<br />

<div class="uk-child-width-expand" uk-grid>
  <div uk-grid>
    <div class="actions">
      <%%= form.submit nil, class: 'uk-button uk-button-small uk-button-primary' %>
    </div>
    <div class="actions">
<% if controller_class_path.size > 0 -%>
      <%%= link_to <%= controller_class_path.join('_') %>_<%= index_helper %>_path, class: 'uk-button uk-button-small uk-button-default' do %>
        Cancel
      <%% end %>
<% else -%>
      <%%= link_to <%= index_helper %>_path, class: 'uk-button uk-button-small uk-button-default' do %>
        Cancel
      <%% end %>
<% end -%>
    </div>
  </div>
  <%% if form.object.persisted? %>
  <div>
    <div class="actions">
<% if controller_class_path.size > 0 -%>
      <%%= link_to 'Delete <%= singular_table_name.titleize %>', <%= controller_class_path.join('_') %>_<%= singular_table_name %>_path(@<%= singular_table_name %>),
                   method: :delete,
                   class: 'uk-button uk-button-small uk-button-danger uk-align-right',
                   data: { confirm: 'Are you sure?' }
      %>
<% else -%>
      <%%= link_to 'Delete <%= singular_table_name.titleize %>', @<%= singular_table_name %>,
                  method: :delete,
                  class: 'uk-button uk-button-small uk-button-danger uk-align-right',
                  data: { confirm: 'Are you sure?' }
      %>
<% end -%>
    </div>
  </div>
  <%% end %>
</div>
<%% end %>
