<%% content_for :title do %>
<%= plural_table_name.titleize %>
<%% end %>

<%% content_for :page_title do %>
<%= plural_table_name.titleize %>
<%% end %>

<%% content_for :breadcrumb do -%>
  <ul class="uk-breadcrumb">
    <li><%%= link_to 'TOP', '/' %></li>
    <li>
      <% if controller_class_path.size > 0 %>
      <%%= link_to '<%= plural_table_name.titleize %>', <%= controller_class_path.join('_') %>_<%= index_helper %>_path %>
      <% else %>
      <%%= link_to '<%= plural_table_name.titleize %>', <%= index_helper %>_path %>
      <% end %>
    </li>
  </ul>
<%% end %>

<div class="uk-align-right">
<% if controller_class_path.size > 0 %>
<%%= link_to 'New <%= singular_table_name.titleize %>', new_<%= controller_class_path.join('_') %>_<%= singular_table_name %>_path, class: 'uk-button uk-button-small uk-button-primary' %>
<% else %>
<%%= link_to 'New <%= singular_table_name.titleize %>', new_<%= singular_table_name %>_path, class: 'uk-button uk-button-small uk-button-primary' %>
<% end %>
</div>

<table class="uk-table uk-table-divider uk-table-small uk-text-small">
  <thead>
    <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
      <th><%= attribute.human_name %></th>
<% end -%>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
        <% if controller_class_path.size > 0 %>
        <td><%%= link_to 'Show', <%= controller_class_path.join('_') %>_<%= singular_table_name %>_path(<%= singular_table_name %>) %></td>
        <td><%%= link_to 'Edit', edit_<%= controller_class_path.join('_') %>_<%= singular_table_name %>_path(<%= singular_table_name %>) %></td>
        <td><%%= link_to 'Destroy', <%= controller_class_path.join('_') %>_<%= singular_table_name %>_path(<%= singular_table_name %>), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <td><%%= link_to 'Show', <%= singular_table_name %> %></td>
        <td><%%= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %></td>
        <td><%%= link_to 'Destroy', <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <%% end %>
  </tbody>
</table>

<br>
