<%% content_for :title do %>
<%= singular_table_name.titleize %>
<%% end %>

<%% content_for :page_title do %>
<%= singular_table_name.titleize %>
<%% end %>

<%% content_for :breadcrumb do -%>
  <ul class="uk-breadcrumb">
    <li>
      <%%= link_to t('nav.admin_top'), root_path %>
    </li>
    <% if controller_class_path.size > 0 %>
    <li>
      <%%= link_to '<%= plural_table_name.titleize %>', <%= controller_class_path.join('_') %>_<%= index_helper %>_path %>
    </li>
    <li>
      <%%= link_to '<%= class_name %>', <%= controller_class_path.join('_') %>_<%= singular_table_name %>_path(@<%= singular_table_name %>) %>
    </li>
    <% else %>
    <li>
      <%%= link_to '<%= plural_table_name.titleize %>', <%= index_helper %>_path %>
    </li>
    <li>
      <%%= link_to '<%= class_name %>', @<%= singular_table_name %> %>
    </li>
    <% end %>
  </ul>
<%% end %>

<%% content_for :subnav do -%>
  <ul class="uk-subnav uk-subnav-divider">
    <li>
      <% if controller_class_path.size > 0 %>
      <%%= link_to <%= controller_class_path.join('_') %>_<%= index_helper %>_path do %>
      <% else %>
      <%%= link_to <%= index_helper %>_path do %>
      <% end %>
        <span uk-icon="list"> </span>
        List
      <%% end %>
    </li>
    <li>
      <% if controller_class_path.size > 0 %>
      <%%= link_to edit_<%= controller_class_path.join('_') %>_<%= singular_table_name %>_path(@<%= singular_table_name %>) do %>
      <% else %>
      <%%= link_to edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) do %>
      <% end %>
        <span uk-icon="file-edit"> </span>
        Edit
      <%% end %>
    </li>
  </ul>
<%% end %>

<div class="uk-form-horizontal">
<% attributes.reject(&:password_digest?).each do |attribute| -%>
  <div class="uk-margin">
    <label class="uk-form-label" for="form-horizontal-text">
      <%= attribute.human_name %>:
    </label>
    <div class="uk-form-controls uk-form-controls-text">
      <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
    </div>
  </div>
<% end -%>
</div>
