<% content_for :sidebar_nav do %>
<%= render 'shared/admin/nav_menu' %>
<% end %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= uikit_tag %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag    "application" %>
    <%= javascript_pack_tag    "reception" %>
  </head>

  <body>
    <%= yield :offcanvas %>

    <nav uk-sticky class="uk-light uk-card uk-card-default uk-card-secondary uk-sticky uk-sticky-fixed"
                   uk-navbar="mode: click">
      <%= render 'shared/header' %>
    </nav>

    <div class="uk-grid-collapse" uk-grid>
      <div class="uk-width-small@m uk-width-1-4@s uk-visible@s uk-section-muted uk-padding-small">
        <div class="uk-height-large">
          <%= yield :sidebar_nav %>
        </div>
      </div>

      <div class="uk-section-default uk-width-expand uk-margin-large-bottom" uk-height-viewport="expand: true">
        <div class="uk-container uk-container-large uk-position-relative">

          <div class="uk-section uk-padding-small">

            <%= render 'shared/notice' %>

            <div uk-grid>
              <div class="uk-width-1-2@m">
                <h3 class="uk-h3"><%= yield :page_title %></h3>
              </div>
              <div class="uk-width-auto">
                <div class="uk-align-right">
                  <%= yield :breadcrumb %>
                </div>
              </div>
            </div>

            <%= yield :subnav %>

            <%= yield %>

          </div>
        </div>
      </div>
    </div>
    <hr class="uk-margin-remove"/>

    <div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
